<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.framelog.sdcard</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/vedantmodi/dev/framelog/scripts/on_sd_mount.sh</string>
    </array>

    <key>WatchPaths</key>
    <array>
        <string>/Volumes</string>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/vedantmodi/Photos/framelog.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/vedantmodi/Photos/framelog.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
